$size-large-text: 3.5rem;
$size-medium-text: 2rem;
$size-small-text: 1.3rem;
$blue-color: #0485bd;
$black-color: #151515;
$dark-gray-color: #363535;

@import 'header';
@import 'text';
@import 'backgrounds';
@import 'videos';
@import 'animations';
@import 'buttons';



